<%- include('../partials/header') %>

<a href="/countries/new"	<%- title === 'Add Country' ? 'class="active"' : '' %>>
    ADD COUNTRY</a>


<table id="list">
  <thead>
    <tr>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>

 


  <tbody id="countries">
    <% countries.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>

      </tr>
      <% }); %>
    </tbody>
  </table>



  <tbody id="countries-index">
    <% countries.forEach(function(c) { %>
        <%= c.name %>
        <% oreo.avail.forEach(function(avail) { %>
          <% if (avail.name.includes(c.name)) { %>
            <%= oreo.title %>
          <% } %>
        <% }) %>
      <% }) %>
    </tbody>

<%- include('../partials/footer') %>


