<%- include('../partials/header') %>

<a href="/countries/new"	<%- title === 'Add Country' ? 'class="active"' : '' %>>
    ADD COUNTRY</a>


<table id="list">
  <thead>
    <tr>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>

 


  <tbody id="countries">
    <% countries.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>

      </tr>
      <% }); %>
    </tbody>
  </table>



  <tbody id="countries-index">
    <% countries.forEach(function(c) { %>
      <%= c.name %>
      <% oreos.forEach(function(oreo) { %>
        <% if (oreo.avail.some(a => a._id.equals(c._id))) { %>
          <%= oreo.title %>
        <% } %>
      <% }) %>
    <% }) %>
  </tbody>

<%- include('../partials/footer') %>


