<div>
<%- include('../partials/header') %>
</div>
<div>
<h1>Edit Oreo</h1>
<section class="view">
<td><img class ="edit-imgs" src="<%= oreo.imgUrl %>"></td>
<form action="/oreos/<%= oreo._id %>?_method=PUT" id="edit-oreo-form" method="POST" autocomplete="off">
    <label>Image URL:</label>
<input type="text" name="imgUrl" value="<%= oreo.imgUrl %>">
    <label>Name:</label>
    <input type="text" name="title" value="<%= oreo.title %>">
    <label>Release Year:</label>
    <input type="text" name="releaseYear" value="<%= oreo.releaseYear %>" type="required">
  <input type="submit" value="SAVE OREO">
</form>
</section>
</div>
<div>
<%- include('../partials/footer') %>
</div>