<%- include('../partials/header') %>

<h1>Edit Oreo</h1>

<!-- action === href of an a tag -->
<form action="/oreos/<%= oreo._id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Name:</label>
    <input type="text" name="title" value="<%= oreo.title %>">
    <label>Release Year:</label>
    <input type="text" name="releaseYear" value="<%= oreo.releaseYear %>" type="required">
  <br>
  <input type="submit" value="SAVE OREO">
</form>

<%- include('../partials/footer') %>
