<div>
<%- include('../partials/header') %>
</div>
<div>
<table>
  <thead id="index">
      <th>Image</th>
      <th>Name</th>
      <th>Release Year</th>
      <th>Detail Page</th>
    </tr>
  </thead>
  <tbody>
  <% oreos.forEach(function(o) { %>
    <tr>
      <td><img id="index-imgs" src="<%= o.imgUrl %>"></td>      
      <td><%= o.title %></td>
      <td><%= o.releaseYear %></td>
      <td><a href="/oreos/<%= o._id %>">DETAILS</a></td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</div>
<div>
<%- include('../partials/footer') %>
<div>