<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Release<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <h1>OREOS</h1>
  <% oreos.forEach(function(o) { %>
    <tr>
      <td><%= o.title %></td>
      <td><%= o.releaseYear %></td>
      <td><a href="/oreos/<%= o._id %>">DETAILS</a></td>
    </tr>
    <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>